<div class="col-6">
  <%= form_tag('/inbox') do %>

    <div class="form-group">
      <%= label_tag :from %>
      <br>
      <%= text_field_tag :from, @from, class: "form-control" %>
    </div>

    <br>

    <div class="form-group">
      <%= label_tag :email %>
      <br>
      <%= text_field_tag :email, nil, class: "form-control" %>
    </div>

    <br>

    <div class="form-group">
      <%= label_tag :subject %>
      <br>
      <%= text_field_tag :subject, @subject, class: "form-control" %>
    </div>

    <br>

    <div class="form-group">
      <%= label_tag :body %>
      <br>
      <%= text_area_tag :body, @rand_body, class: "form-control" %>
    </div>

    <br>

    <%= button_tag :submit, class: "btn btn-primary" %>
  <%end%>

</div>

<div class="col-6">
<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <th>Email</th>
      <th>Status</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @emails.each_with_index do |data, index| %>
      <tr>
        <th class="Number" scope="row" style="padding: 10px 5px; width: 5%">
          <%= index + 1 %>
        </th>
        <td class="Email" style="padding: 10px 5px; width: 20%">
          <%=  data['to'] %>
        </td>
        <td class="Status" style="padding: 10px 5px; width: 10%; text-align: center;">
          <%= data['status'] %>
        </td>
        <td class="Message" style="padding: 10px 5px; width: 30%;">
          <%= data['status_detail'] %>
        </td>
        <td class="Date" style="padding: 10px 5px; width: 20%; text-align: center;">
          <%= Time.at data['epoch'] %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>